extends layout

block content
    .container-fluid
        //block adicionar-tarefa
        h1.display-4(style='text-align:center') #{tituloAdicionar}
        form(method='POST', action='/tarefas/add')
            #form-group
                div.input-group.mb-3.col-sm
                    input.form-control(name='nome', type='text', placeholder='Insira tarefa e clique "Enter" ou no botão "Adicionar"', aria-label='Insira tarefa')
                    div.input-group-append
                        input.btn.btn-primary(type='submit',value='Adicionar')
    .container-fluid
        //block listar-tarefas
        .row
            .col-xl.col-lg.col-md.col-sm
                h3 #{tituloLista}
                .container.theme-showcase(role='main')
                    .panel-group#accordion(role='tablist' aria-multiselectable='true')
                        each tarefa, i in tarefas
                            .panel.panel-default.card
                                .panel-heading.card-header(role='tab' id="heading"+tarefa._id)
                                    a.panel-title.card-link(role='button' data-toggle='collapse' data-parent='#accordion' href="#collapse"+tarefa._id aria-expanded='false' aria-controls='collapse'+tarefa._id)= tarefa.nome
                                div(id='collapse'+tarefa._id class="panel-collapse collapse" role='tabpanel' aria-labelledby='heading'+tarefa._id)
                                    .panel-body.card-body 
                                        p= "Estado: "+tarefa.estadoDaTarefa
                                        p= "Descrição detalhada: "+tarefa.descricaoDetalhada
                                        p= "Urgência: "+tarefa.urgencia
                                        p= "Importância: "+tarefa.importancia
                                        //p= "Prioridade: "+tarefa.getPrioridade()
                                        p= "Tempo Mínimo: "+tarefa.tempoMinimo
                                        p= "Tempo Utilizado: "+tarefa.tempoUtilizado
                                        p= "Categoria: "+tarefa.categoria
                                        p= "Sub-Categoria: "+tarefa.subcategoria
                            p
            .col-xl.col-lg.col-md.col-sm
                h3 #{tituloConcluidas}
            .col-xl.col-lg.col-md.col-sm
                h3 #{ideiasProjetos}