extends layout

block content
    .container-fluid
        //block adicionar-tarefa
        h1.display-4(style='text-align:center') #{tituloAdicionar}
        form(method='POST', action='/tarefas/add')
            #form-group
                div.input-group.mb-3
                    input.form-control(name='nome', type='text', placeholder='Insira tarefa e clique "Enter" ou no botão "Adicionar"', aria-label='Insira tarefa')
                    div.input-group-append
                        input.btn.btn-primary(type='submit',value='Adicionar')
    .container-fluid
        //block listar-tarefas
        .row
            .col-xl.col-lg.col-md.col-sm
                h3 #{tituloLista}
                .container
                    #accordion
                        each tarefa, i in tarefas
                            .card
                                .card-header
                                    a.collapsed.card-link(data-toggle='collapse' data-target="#"+tarefa._id href="#"+tarefa._id)= tarefa.nome
                                div(id=tarefa._id class="collapse" data-parent='#accordion')
                                    .card-body coisas
                            p
            .col-xl.col-lg.col-md.col-sm
                h3 #{tituloConcluidas}
            .col-xl.col-lg.col-md.col-sm
                h3 #{ideiasProjetos}