extends layout

block content
    h1= nome
    p= estadoDaTarefa
    p= descricaoDetalhada
    p= importancia
    p= urgencia
    p= prioridade
    p= tempoMinimo
    p= tempoUtilizado
    p= categoria
    p= subcategoria